.st2, .v1, .mystyle1 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 0 20px;
  border-right: 3px solid green;
  box-sizing: border-box;
}

.mystyle1 {
  border-right: none;
}
